@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --main: #DEDFF3;
    --secondary: #F3F7FF;
    --bground: #E8EBFC;
    --grey : #787878;
    --brouwn : #B77151;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Karla;
}

.Apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    background-color: var(--bground);
    min-height: 100vh;
}

.Apropos-main-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.apropos-card {
    border-radius: 20px;
    border: 1px solid #e8ebfc;
    background: rgba(243,247,255,0.35);
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    padding: 10px;
    width: 90vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.apropos-title-card {
    color: var(--brouwn);
    font-size: 1.3em;
    text-align: center;
}

.apropos-content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apropos-card p {
    color: var(--grey);
    font-family: Forum;
}

.apropos-img {
    width: 100%;
    height: auto;
}