@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root {
    --main: #DEDFF3;
    --secondary: #F3F7FF;
    --grey : #787878;
    --brouwn : #B77151;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Karla;
}

.userProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: var(--main);
    min-height: 100vh;
}

.userProfil-content {
    border-radius: 30px;
    border: 1px solid #e8ebfc;
    background: rgba(255,255,255,0.5);
    height: 60vh;
    padding: 10px;
    text-align: center;
}

.userProfil-content h2 {
    font-weight: 500;
    color: var(--grey);
    font-size: 1.5em;
}

.userProfil-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.userProfil-form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.userProfil-form-section label {
    font-size: 1.2em;
    color: var(--grey);
}

.userProfil-form-section input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--grey);
    font-size: 1.2em;
    padding: 5px 0;
    outline: none;
}

.userProfil-form-section input::placeholder {
    color: #e3d7d7;
}

.Edit-profil-btn {
    text-decoration: none;
    padding: 3px 10px;
    font-size: 1.5em;
    color: var(--secondary);
    border-radius: 15px;
    border: 2px solid var(--secondary);
    background: var(--brouwn);
    background-blend-mode: normal;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
}